<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/static/xadmin/vendor/jquery/jquery.min.js"></script>
<script>
    var index = parent.layer.getFrameIndex(window.name);
    function clo() {
        var u_flag = $('#if_flag').val();
        var img_path = document.getElementById('img').value;
        if (img_path != ''){
            top.flag = 1;
            top.uflag = u_flag;
            top.img_path = img_path;
            top.layer.close(index);
        }
        else {
            parent.layer.confirm('确定不修改图片吗？', {
            skin: 'layui-layer-lan',
            title:'信息提示。。',
            btn: ['确定','在想想'], //按钮
            btn1:function () {
                top.layer.close(index);
            }
        });
        }
    }
    
    function show_this_pic() {
        var pic_value = $('#img_url').val();
        if (pic_value != '') {
            var wish_flag = pic_value.indexOf('.wish.');
            if (wish_flag == -1){
                alert('只能输入Wish平台图片！');
                $('#img_url').val('');
            }else {
                $('#img').val(pic_value);
                $('#id_img').attr('src', pic_value);
                $('#if_flag').val('0');
            }
        }else {
            alert('请输入图片URL');
        }
    }
    function ityzl_SHOW_LOAD_LAYER(){
        return parent.layer.msg('努力修改中，请稍等...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '50%', time:100000}) ;
    }
    function ityzl_CLOSE_LOAD_LAYER(index){
        parent.layer.close(index);
    }
    function ityzl_SHOW_TIP_LAYER(){
        parent.layer.msg('修改完成！',{time: 1000,offset: '50%'});
    }

    function upload_vImg(self) {
        var i = '';
        var formFile = new FormData();
        var fileObj = self.files[0];

        if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
           alert("请选择图片");
           return;
        }

        var action = "/t_online_info_wish_store_upload_image/store_upload_image/" ;
        formFile.append("action", action);
        formFile.append("image", fileObj); //加入文件对象
        formFile.append("shopname", $('#id_shopname').val()); //加入文件对象

        $.ajax({
            url: action,
            data: formFile,
            type: "Post",
            dataType: "json",
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
            beforeSend: function () {
                i = ityzl_SHOW_LOAD_LAYER();
            },
            success: function (result) {
                console.log('获取函数返回结果时间---' + new Date());
                if (result.Code == '1'){
                    $('#img').val($.trim(result.PicPath));
                    $('#id_img').attr('src', $.trim(result.PicPath));
                    $('#if_flag').val('1');
                }else {
                    alert('错误信息：' + JSON.stringify(result));
                    console.log(JSON.stringify(result));
                }
                ityzl_CLOSE_LOAD_LAYER(i);
                ityzl_SHOW_TIP_LAYER();
            },
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                alert('错误信息：' + XMLHttpRequest.responseText); //获取的信息即是异常中的Message
                console.log('错误信息：' + XMLHttpRequest.responseText); //获取的信息即是异常中的Message
                ityzl_CLOSE_LOAD_LAYER(i);
            }
        });
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
.button {
    background-color: #428bca;
    border: none;
    color: white;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

<body>
<form autocomplete="off">
    <input type="hidden" id="id_shopname" value="{{ obj.ShopName }}">
    <div class="row" id="row_show_id">
        <a class="thumbnail dropdown-toggle" style="position: absolute;" ondragstart="return false;" data-toggle="dropdown">
            <img src="https://fancyqube-wish.oss-cn-shanghai.aliyuncs.com/Nobackground.png" alt="变体图" id="id_img" width="240" height="240">
            <input type="hidden" value="" name="img" id="img">
            <input type="hidden" value="0" name="upload_flag" id="if_flag">
        </a>
    </div>

    <table align="left" style="margin-top: 250px;">
        <tr align="center">
            <td>
                <input style="width: 300px;height: 20px" type='text' id='img_url' name="img_url" value="">
            </td>
            <td><button type="button" style="font-size:12px;" onclick="show_this_pic()" >点击预览URL图片</button></td>
            <td><button type="button" style="font-size:12px;" onclick="javascrip:$('#id_upload').click();">点击上传本地图</button></td>
        </tr>
    </table>
    <input type="file" id="id_upload" onchange="upload_vImg(this);" style="display:none;" value="" accept="image/gif, image/jpeg, image/png, image/gif ">
    <br>
    <table align="center" style="margin-top: 300px;" >
        <tr align="center">
            <td>
                <input type="button" class="button" onclick="clo()" value="确定保存">
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>
</body>
</html>