<link href="/static/js/t_online_info_wish_store_search.css?t=201803211234" rel="stylesheet" type="text/css" />
<script src="/static/js/t_online_info_wish_store_search.js?t=201803211234"></script>
    <ul id="myTab" class="nav nav-tabs">
        <li {% if activeflag == '' or activeflag == 'STANDARD' %} class="active" {% endif %}>
            <a href="{{ nowurl }}EXPRESS=STANDARD">
                 STANDARD
            </a>
        </li>
        <li {% if activeflag == 'DE' %} class="active" {% endif %}>
            <a href="{{ nowurl }}EXPRESS=DE">
                EXPRESS-DE
            </a>
        </li>
        <li {% if activeflag == 'GB' %} class="active" {% endif %}>
            <a href="{{ nowurl }}EXPRESS=GB">
                EXPRESS-GB
            </a>
        </li>
        <li {% if activeflag == 'US' %} class="active" {% endif %}>
            <a href="{{ nowurl }}EXPRESS=US">
                EXPRESS-US
            </a>
        </li>
    </ul>
    <div>
        <span style="height: 50px;width: 240px;font-size: 20px; color:red;">
            1.此页面的数据每6小时刷新一次
            <br>
            2.一次分页显示数据越多越慢，因为会有大量的图片下载
        </span>
    </div>
    <br>
    <div>
        <div style="font-size:15px;">
            <div class="padatr">
                {% if lastupdatetime != '' and lastupdatetime != 'undefined' %}
                    <em style="color: #d58512;font-size: 10px;"> 最近增量更新时间(utc):{{ lastupdatetime }} </em>
                {% endif %}
                <br>
                <div class="satrdiv inline mRight20" style="float: left;height: 34px;width: 65.3px;">搜索店铺:</div>
                    <div class="inline" style="float: left">
                        <form id="seach_shopname">
                        <input id="q" class="textatr" name="shopname" style="border-radius: 10px;width:364px; " onFocus="if(this.value=='搜索店铺...'){this.value='';}else{this.select();}this.style.color='black';"  value="{{ flag }}">
                        <input type="button" class="sybutton" onclick="to_seach_shopname()" value="点击搜索" >
                        </form>
                        <div class="selectize-dropdown-content" id="div_items">
                        </div>
                    </div>
                <input type="hidden" id="list_id" value='{{ objs|safe }}'>
                <input type="hidden" id="synurl_id" value='{{ synurl }}'>
            </div>
        </div>
    </div>
    <div class="dropdown" style="float: right;">
        <button type="button" class="btn dropdown-toggle sybutton" id="dropdownMenu1" data-toggle="dropdown">
            同步店铺数据
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            {% if synurl != '' %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#shopname_full">全量同步</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#shopname_part">增量同步</a>
                </li>
            {% else %}
                <li role="presentation">
                    <a style="color:red" role="menuitem" tabindex="-1">{{ refreshstatus }}</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="dropdown" style="float: right;">
        <button type="button" class="btn dropdown-toggle sybutton" id="dropdownMenu1" data-toggle="dropdown">
            店铺SKU操作
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation">
                <a role="menuitem" tabindex="-1" onclick="change_shopsku('1')" >选中店铺SKU上架</a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" onclick="change_shopsku('0')" >选中店铺SKU下架</a>
            </li>
        </ul>
    </div>
    <div>
        <a class="sybutton" type="button" style="display: inline; width: 125px ; float: right;" target="_blank" href="/Project/admin/storeapp/t_add_variant_information/">运费调整</a>
    </div>

    <!-- 模态框（Modal）全量刷新店铺 -->
    <div class="modal fade" id="shopname_full" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        全量刷新店铺
                    </h4>
                </div>
                <div class="modal-body">
                    <span id="full_bar_span">是否确定全量刷新该店铺数据，刷新速度可能较慢？</span>
                    <div class="progress progress-striped active" id="full_bar" style="display: none">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0%;" id="full_bar_id">
                            <span class="sr-only">0% 完成</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="Refresh_Ajax_full('0')" id="sub_full">
                        提交更改
                    </button>
                    <button type="button" class="btn btn-primary" onclick="onclick_refresh_page()" style="display: none" id="sub_refresh_full">
                        刷新页面
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（Modal）增量刷新店铺 -->
    <div class="modal fade" id="shopname_part" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        增量刷新店铺
                    </h4>
                </div>
                <div class="modal-body">
                    <span id="part_bar_span">是否确定增量刷新该店铺数据？</span>
                    <div class="progress progress-striped active" id="part_bar" style="display: none">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 0%;" id="part_bar_id">
                            <span class="sr-only">0% 完成</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="Refresh_Ajax_full('1')" id="sub_part">
                        提交更改
                    </button>
                    <button type="button" class="btn btn-primary" onclick="onclick_refresh_page()" style="display: none" id="sub_refresh_part">
                        刷新页面
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>


