
<style type="text/css">
		.btn_1{
			display: inline-block;
	        padding: 6px 12px;
	        margin-bottom: 0;
	        font-size: 14px;
	        font-weight: normal;
	        line-height: 1.428571429;
	        text-align: center;
	        vertical-align: middle;
	        cursor: pointer;
	        background-image: none;
	        border: 1px solid transparent;
	        border-radius: 6px;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        color: #ffffff;
		    background-color: #555555;
		}
        .myInput {
            line-height: 30px;
        }
</style>

<script type="application/javascript">
 

</script>


<div>
    <a class="btn_1" href="/import_joom/?num=100"  id="btc1">导入100条</a>
    <a class="btn_1" href="/import_joom/?num=500" id="btc2">导入500条</a>
    <a class="btn_1" href="/import_joom/?num=1000" id="btc3">导入1000条</a>
</div>