<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/xadmin/vendor/bootstrap-select-1.12.4/css/bootstrap-select.min.css" rel="stylesheet" />

    <script src="/static/xadmin/vendor/jquery/jquery.min.js"></script>
    <script src="/static/xadmin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script  src="/static/xadmin/vendor/bootstrap-select-1.12.4/js/bootstrap-select.min.js"></script>

    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <script>
        function changeLargeCate() {
            var small = document.getElementById('SmallCate');
            small.options.length = 0;
            var cateone = document.getElementById('LargeCate');
            $.getJSON('/select_smallcate_by_large/?largecate='+cateone.value, function(result){
                if (result.resultCode == '0'){
                    var smallcate = result['smallcate'];
                    for (var i=0;i<smallcate.length;i++){
{#                        small.insertAdjacentHTML('afterend','<option value="'+smallcate[i]['SCode']+'">'+ smallcate[i]['SmallClass'] +'</option>');#}
                        small.options.add(new Option(smallcate[i]['SmallClass'],smallcate[i]['SCode']));
                    }
                    $("#SmallCate").selectpicker('refresh');
                }else {
                    alert('异常！');
                }
            });
        }
        function Write_back() {
            var index = parent.layer.getFrameIndex(window.name);
            var large = document.getElementById('LargeCate');
            var small = document.getElementById('SmallCate');
            if (small.value != ''&&large.value != ''){
                top.largevalue = large.value;
                top.largelook = large.options[large.selectedIndex].text;
                top.smallvalue = small.value;
                top.smalllook = small.options[small.selectedIndex].text;
                top.flag = 1;
                parent.layer.close(index);
            }else {
                alert('大类和小类都不可为空！请重新选择。。')
            }
        }
    </script>
</head>
<body style="text-align:center">
<div class="container">
    <div class="row myCenter">
        <div class="col-xs-6 col-md-4 col-center-block">
          <div class="form-group" >
            <select class="selectpicker" title="请选择大类" id="LargeCate" onchange="changeLargeCate()">
                {% for large in large_list %}
                    {% for k,v in largecate.items %}
                        {% if k == large %}
                            <option value="{{ v }}">{{ k }}</option>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <select class="selectpicker" title="请选择小类" id="SmallCate">
            </select>
          </div>
          <button type="button" class="btn btn-default" onclick="Write_back()">提交</button>
        </div>
    </div>
</div>
</body>
</html>
