<label for="id_select">-    大类名称:</label>

<select name = "LargeCategory" id="id_select" class="selectpicker bla bla bli"  data-live-search="true" >
	<option value="{{LargeCategory}}" selected = "selected" >  {{ LargeCategory }} </option>

    <option value ="001.时尚女装">001.时尚女装</option>
    <option value ="002.时尚男装">002.时尚男装</option>
    <option value ="003.时尚鞋">003.时尚鞋</option>
    <option value ="004.时尚包包">004.时尚包包</option>
    <option value ="005.饰品&手表">005.饰品&手表</option>
    <option value ="006.婚庆用品">006.婚庆用品</option>
    <option value ="007.服装配饰">007.服装配饰</option>
    <option value ="008.浦江3C">008.浦江3C</option>
    <option value ="009.广州电子产品">009.广州电子产品</option>
    <option value ="010.深圳3C电子产品">010.深圳3C电子产品</option>
    <option value ="011.家居">011.家居</option>
    <option value ="012.户外用品">012.户外用品</option>
    <option value ="013.DIY工具">013.DIY工具</option>
    <option value ="014.健康美容">014.健康美容</option>
    <option value ="015.汽配">015.汽配</option>
    <option value ="016.玩具">016.玩具</option>
    <option value ="017.工业">017.工业</option>
    <option value ="018.媒体">018.媒体</option>
    <option value ="019.办公文教用品">019.办公文教用品</option>
    <option value ="020.儿童用品">020.儿童用品</option>
    <option value ="违禁品">违禁品</option>
    <option value ="021.杂货">021.杂货</option>
    <option value ="022.乐器及配件">022.乐器及配件</option>
    <option value ="025.舞会派对">025.舞会派对</option>
    <option value ="023.动漫及电影周边">023.动漫及电影周边</option>
    <option value ="024.海外仓产品">024.海外仓产品</option>
    <option value ="026.圣诞礼品">026.圣诞礼品</option>
    <option value ="其他">其他</option>
    <option value ="创意产品,侵权">创意产品,侵权</option>
    <option value ="已删除">已删除</option>

</select>
