
<!DOCTYPE html>  
<html>  
<head>  
    <meta name="viewport" content="width=device-width" />  
    <script src="/static/highcharts/jquery-1.8.3.min.js"></script>
    <script src="/static/highcharts/aes.js"></script>
    <script src="/static/highcharts/pad-zeropadding.js"></script>
    <meta http-equiv="x-ua-compatible" content="IE=8">  
    <title>'{{ShopName}}'</title>  
    <style type="text/css">  
        body {  
            padding: 0;  
            margin: 0;  
        }  
    </style>
    <script>
    function del() 
    {
    
        try
		{
	        var xhr = new XMLHttpRequest();
	        url="/mstsc2/?id="+'{{id}}'
	        xhr.open("get", url, true);
	        xhr.onreadystatechange = function() 
	        {
	            if (xhr.readyState == 4 && xhr.status == 200)
	            {
	                console.log(xhr.responseText);
	            }
	        };
	        xhr.send();  
		}
		catch (ex)
		{  
			//alert("发生错误：" + ex.message + "请联系其他员工退出登陆以便连接"); 
			//window.close()
			var a; 
		}; 
    }
    function quit()
    {
		  try
	      { 
		    var xhr = new XMLHttpRequest();
	        url="/mstsc3/?id="+'{{id}}'
	        xhr.open("get", url, true);
	        xhr.onreadystatechange = function() 
			{
		        if (xhr.readyState == 4 && xhr.status == 200)
				{
		            console.log(xhr.responseText);
		        }
	        };
	        xhr.send();
		  } 
		  catch (ex)
		 {  
			//alert("发生错误：" + ex.message + "请联系其他员工退出登陆以便连接"); 
			window.close()	  
		 }; 
    }

    function hello()
	{ 
		try
		{
	        var xhr = new XMLHttpRequest();
	        url="/mstsc4/?id="+'{{id}}'
	        xhr.open("get", url, true);
	        xhr.onreadystatechange = function() 
	        {
	            if (xhr.readyState == 4 && xhr.status == 200)
	            {
	                console.log(xhr.responseText);
	            }
	        };
	 
	       xhr.send(); 
	    }
        catch (ex)
        {  
            //alert("发生错误：" + ex.message + "请联系其他员工退出登陆以便连接"); 
			window.close()	  
        }; 
    }
</script>
</head>  
<body>  
	<!--远程桌面参数设置start-->
	<div id="waitTime" width:50%,height:50%></div>
	<div id="connectTimes" width:50%,height:50%></div>
	<div id="disConnectCode" width:50%,height:50%></div>
	<div id="connectCode" width:50%,height:50%></div>
	<div id="connectedResult" width:50%,height:50%></div>
	<div style="display: none;"><fieldset>  
        分辨率：<select id="Screen">  
            <option value="1">800*600</option>  
            <option value="2" selected="selected">1024*768</option>  
            <option value="3">1600*900</option>  
        </select>  
        色彩度：<select id="ColorDepth">  
            <option value="1">16位</option>  
            <option value="2" selected="selected">32位</option>  
        </select>  
         
    </fieldset>  
    <input type="button" id="connectbutton" value="连接" onclick="RdpConnect()" /></div>  
     <!--远程桌面参数设置end-->  
    <!--<input type="button" class="btn btn-warning" style="width:80px;" value="全屏" onclick="FullScreen()" /> -->   
    <div id="connectArea" style="display: none;">  
        <table>  
            <tr>  
                <td>  
                    <object 
                                id="MsRdpClient" 
                                language="javascript" 
                                classid="CLSID:54D38BF7-B1EF-4479-9674-1BD6EA465258" 
                                width="600"
                                height="600">
                    </object>  
                </td>  
            </tr>  

        </table>  
    </div> 
</body>


<script type="text/javascript" language="javascript"> 
    var second = 0;
	var g_connentFlag = 0;
    var ws ;
	var count = 0;
	try
	{
		startKvm();
		//startTimer();
		mstsc();
		
	}
	catch (ex)
	{  
	    alert("发生错误：" + ex.message + " setInterval");  
             
	}; 
	
	
 
	

		
	//连接失败时触发
	function MsRdpClient::OnDisconnected(disconnectCode)
	{
		if (g_connentFlag != 1) {
        	g_connentFlag = 0;
		}
		
		try
		{
			 extendedDiscReason = MsRdpClient.ExtendedDisconnectReason;  
			 errMsgText = MsRdpClient.GetErrorDescription(disconnectCode, extendedDiscReason);  
			 document.getElementById("connectedResult").innerText = errMsgText;
			 if (g_connentFlag == 1) {
			 	 alert(errMsgText);  
			 }
		}
		catch(ex)
		{  
		 	alert("MsRdpClient::OnDisconnected" + ex);
		}

		document.getElementById("disConnectCode").innerText = "disconnectCode = " + disconnectCode;
		//if(count<7)
		//{ 
			  //mstsc();
			  //return;
		//}

        // alert("计算机已注销，如需使用，请刷新此页面。");  
		//del()
		//document.getElementById("connectArea").style.display = "none";  
		//closeWindow();  

	}
				
	// 连接成功时触发				
	function MsRdpClient::OnConnected(connectCode) 
	{
	    
		 
	    try
		{
			//alert("OnConnected");
			document.getElementById("connectCode").innerText = "connectCode = " + connectCode;
                
		document.getElementById("connectedResult").innerText = second + "秒连接成功";
        }
		catch(ex)
		{  
		 	alert("MsRdpClient::OnConnected" + ex);
		};
		setTimeout(function erase()
		{
			document.getElementById("waitTime").style.display="none";
			document.getElementById("connectTimes").style.display="none";
			document.getElementById("disConnectCode").style.display="none";
			document.getElementById("connectCode").style.display="none";
			document.getElementById("connectedResult").style.display="none";
		},2*1000)
		g_connentFlag = 1;		
    }  

    function secretCode(password) {
        var key  = CryptoJS.enc.Latin1.parse('1234567812345678');
        var iv   = CryptoJS.enc.Latin1.parse('1234567812345678');
        var decrypted = CryptoJS.AES.decrypt(password,key,{iv:iv,padding:CryptoJS.pad.ZeroPadding});
        secret_code = decrypted.toString(CryptoJS.enc.Utf8);
        return secret_code;
    }

    function mstsc()
	{
	    //alert("MsRdpClient.Connected = " + MsRdpClient.Connected);
		//alert("g_connentFlag = " + g_connentFlag);
	    var userName, Pwd, server, domain, port;  
	    userName = '{{userName}}'; //用户名  
	    Pwd = '{{password}}';
	    Pwd = secretCode(Pwd)
	    server = '{{ip}}'; //IP  
	    port = 3389; //端口  
	    domain = "myDomain";  //域  
	    if (g_connentFlag !=1)
	    {  
	        try 
	        { 
	            document.getElementById("connectArea").style.display = "block"; //显示远程桌面div  
                        
	            width = document.documentElement.clientWidth
	            height= document.documentElement.clientHeight
	            document.getElementById("MsRdpClient").width= width-15
	            document.getElementById("MsRdpClient").height=height-10
                        
                        
	            MsRdpClient.Server = server; //设置远程桌面IP地址  
	            try 
	            {  
	                MsRdpClient.AdvancedSettings2.RedirectDrives = true;  
	                MsRdpClient.AdvancedSettings2.RedirectPrinters = true;  
	                MsRdpClient.AdvancedSettings2.RedirectPrinters = true;  
	                MsRdpClient.AdvancedSettings2.RedirectClipboard = true;  
	                MsRdpClient.AdvancedSettings2.RedirectSmartCards = true;  
	            } 
	            catch (ex) 
	            {  
	            };  
  
	            MsRdpClient.Domain = domain;//域  
	            MsRdpClient.UserName = userName; 
	            MsRdpClient.AdvancedSettings6.ClearTextPassword = Pwd; 
	            MsRdpClient.AdvancedSettings2.RDPPort = port; //端口  
	            if (document.getElementById("ColorDepth").value == 1) 
	            {  
	                ColorDepth16();  
	            } 
	            else 
	            {  
	                ColorDepthDefault();  
	            };  
	            MsRdpClient.FullScreen = 0;  //是否全屏 0否 1是  
	            if (document.getElementById("Screen").value == 1) 
	            {  
	                Screen1(width, height);  
	            } 
	            else 
	            {  
	                ScreenDefault(width, height);  
	            };  
	            try 
	            {  
	                //如果不支持，继续下面操作  
	                MsRdpClient.AdvancedSettings7.EnableCredSspSupport = true;  
	                MsRdpClient.AdvancedSettings5.AuthenticationLevel = 2;  
	            } 
	            catch (ex) 
	            {  
			     	alert(ex);
	            };
				//alert("before MsRdpClient.Connect");
				var rtConnect ;
				try 
	            {
	                  rtConnect = MsRdpClient.Connect();  //连接远程桌面
				}
				catch (ex) 
	            {
				     alert("MsRdpClient.Connect failed ex..");
	            }; 
				//alert(rtConnect );
				//alert("after MsRdpClient.Connect");
				//alert(MsRdpClient.Connected)

			    document.getElementById("connectTimes").innerText ="第"+count+"次连接";
			
		    	count++;

	            //window.setInterval("hello()",5*60*1000); 
     
         
	        } 
	        catch (ex)
	        {  
	            //alert("发生错误：" + ex.message + "请联系其他员工退出登陆以便连接");  
	            //del()
	        };  
	    }
	    else 
	    {  
	        //alert("已连接！");              
	    };
    }         
                    
    window.onbeforeunload=function ()
    { 
        //alert("onbeforeunload！"); 
		shutdownKvm();
        //var socket2 = new WebSocket("ws://" + 192.168.104.207 + "/mstsc3?aaa=333");
		//socket2.send('close...');//通过websocket发送数据
        //socket2.close();        
        //window.s.send(['{{dd}}','{{bb}}','{{time}}']);//通过websocket发送数据\
		//ws.send("shutdown#"+"{{kvmName}}"); 
        quit();
        
     
    }
                
 
    function FullScreen() 
    {  
        if (MsRdpClient.Connected) 
        {  
            MsRdpClient.FullScreen = 1;  
        };  
    };  
    //1024*768  
    function ScreenDefault(width, height) 
    {  
        MsRdpClient.Width = width-17; //设置远程桌面 显示区域的宽和高  
        MsRdpClient.Height = height-12;  
        MsRdpClient.DesktopWidth = width-19;  //设置 远程桌面的宽和高  
        MsRdpClient.DesktopHeight = height-14;  
    };
    
    //800*600  
    function Screen1()
    {  
        MsRdpClient.Width = 800; //设置远程桌面 显示区域的宽和高  
        MsRdpClient.Height = 600;  
        MsRdpClient.DesktopWidth = 800;  //设置 远程桌面的宽和高  
        MsRdpClient.DesktopHeight = 600;  
    };  
    
    //色彩度，默认32位  
    function ColorDepthDefault()
    {  
        MsRdpClient.ColorDepth = 32;  
    };  
    //色彩度16位  
    function ColorDepth16() 
    {  
        MsRdpClient.ColorDepth = 16;  
    };  
    function reSet() 
    {  
        document.getElementById("Screen").selectedIndex = 1;  
        document.getElementById("ColorDepth").selectedIndex = 1;  
    };  
  
    //关闭当前页面  
    function closeWindow()
    {  
        alert("closeWindow");
		//shutdownKvm();
        window.opener = null;  
        window.open("", "_self");  
        window.close();  
		
    };
	function startKvm()
	{
		var kvmname = "{{ kvmName }}"
		if (kvmname && kvmname != 'None' && kvmname.search('win10') == 0) {
		    var xhr = new XMLHttpRequest();  
			var url = "http://{{hostip}}/kvm/"+"start/"+"{{kvmName}}"+"/?"+"{{time}}";  
			xhr.open("GET", url, true);
			xhr.onreadystatechange = function()
				{
			        if (xhr.readyState == 4 && xhr.status == 200)
					{
			            console.log(xhr.responseText);
			        }
		        };   
			xhr.setRequestHeader("Content-Type",  
			        "application/x-www-form-urlencoded;");  
			xhr.send();	
		}
  
	}	

	function shutdownKvm()
	{
		var kvmname = "{{ kvmName }}"
		if (kvmname && kvmname != 'None' && kvmname.search('win10') == 0) {
	        var xhr = new XMLHttpRequest();  
			var url = "http://{{hostip}}/kvm/"+"shutdown/"+"{{kvmName}}"+"/?"+"{{time}}";
			xhr.open("GET", url, true);
			xhr.onreadystatechange = function()
				{
			        if (xhr.readyState == 4 && xhr.status == 200)
					{
			            console.log(xhr.responseText);
			        }
		        };    
			xhr.setRequestHeader("Content-Type",  
			        "application/x-www-form-urlencoded;");  
			xhr.send();
	   }  
    }
	function startTimer()
	{
		// 计时
		try
		{ 
		    //timer = setInterval(try_mstsc, 1500);
		    //setTimeout("clearInterval(timer)",200*1000);
		}
		catch (ex)
        {  
            alert("发生错误：" + ex.message + " setInterval");  
             
        };  
		 
		//setTimeout("clearInterval(g_timer)",200*1000)
	}
		
	function try_mstsc()
	{
	    try
		{ 
			document.getElementById("waitTime").innerText ="开机中..." + second + "秒"; 
			second++;
			mstsc();
		}
		catch (ex)
        {  
            alert(" try_mstsc 发生错误：" + ex.message  );  
             
        }; 
	}
</script>   
</html>  