<link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet"/>
<script src="/static/xadmin/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/xadmin/vendor/bootstrap/js/bootstrap.min.js"></script>

<ul id="myTab">
    <li class="active">
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-6-05</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.基于自动查询后台平台扣点，同时支持平台扣点手动输入。</td></tr>
           <tr><td></td><td>2.完善Amazon-FBA算价规则。</td></tr>
        </table>
    </li>
    <br>
    <li>
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-6-06</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.支持全平台国家双向关联品类计算,目前仅新增Joom-俄罗斯的品类(服饰/非服饰)，并参与算价规则计算。</td></tr>
        <tr><td></td><td>2.E邮宝价格变动：美国价格80元/KG+10元/票改76元/KG+10元/票，加拿大70元/KG+19元/票改65元/KG+19元/票。</td></tr>
        <tr><td></td><td>3.新增更新日志功能。</td></tr>
        </table>
    </li>
	<br>
    <li>
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-6-11</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.支持依据文件下载。</td></tr>
        <tr><td></td><td>2.郑州E邮宝俄罗斯按照85元/KG+8元/票计算运费，其余E邮宝都是92元/KG+8元/票。</td></tr>
        <tr><td></td><td>3.普货类Ebay平台新增易递宝-港邮物流方式，物流公司万邑通，主要匹配美国,加拿大,法国等8个国家20克以上订单。</td></tr>
        <tr><td></td><td>4.新增云途港邮平邮，基本上30克以下的普货，涉及所有国家，Ebay,WIsh，JOOM主流平台。</td></tr>
        </table>
    </li>
	<br>
    <li>
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-6-26</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.算价引入内包装重量。</td></tr>
        <tr><td></td><td>2.修复Wish，Ebay真实海外仓算价异常bug。</td></tr>
        <tr><td></td><td>3.新增FBA-印度站点利润推算功能。</td></tr>
        </table>
    </li>
<br>
    <li>
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-7-7</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.引入多SKU算价,格式(SKU*数字)</td></tr>
        <tr><td></td><td>2.支持汇率变化显示，汇率更改权限已分配给吴丹莉。</td></tr>
        <tr><td></td><td>3.FBA引入英国，Amazon特货引入英法德站点。</td></tr>
		<tr><td></td><td>4.新增算价配置页面，权限已分配给黄根根。</td></tr>
        </table>
    </li>
<br>
    <li>
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-8-1</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.新增批量算价，支持利润率售价之间互相推算。部分FBA暂不支持</td></tr>
        <tr><td></td><td>2.新增运费详情。</td></tr>
        </table>
    </li>
<br>
    <li>
        <table style="font-size:5px;font-weight:bold">
        <tr><td><font color="red">2018-8-6</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>1.新增lazada算价，同时支持批量算价</td></tr>
        <tr><td></td><td>2.美元汇率变动，目前6.8。</td></tr>
        </table>
    </li>
</ul> 

       