<style type="text/css">
		.btn_1{
			display: inline-block;
	        padding: 6px 12px;
	        margin-bottom: 0;
	        font-size: 14px;
	        font-weight: normal;
	        line-height: 1.428571429;
	        text-align: center;
	        vertical-align: middle;
	        cursor: pointer;
	        background-image: none;
	        border: 1px solid transparent;
	        border-radius: 6px;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        color: #ffffff;
		    background-color: #555555;
		}
</style>
<br>
<div class="messsub">
    <button id="flag" type = 'hidden' value="0" ></button>
    {% for bu in list %}
        {% for k,v in objs.items %}
            {% if bu == k %}
            <button id="btc" class="btn_1" onclick="{location.href='{{ v }}'}"><span style="color:#ffffff;">{{ k }}</span></button>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
<br>
