<style type="text/css">
		.btn_1{
			display: inline-block;
	        padding: 6px 12px;
	        margin-bottom: 0;
	        font-size: 14px;
	        font-weight: normal;
	        line-height: 1.428571429;
	        text-align: center;
	        vertical-align: middle;
	        cursor: pointer;
	        background-image: none;
	        border: 1px solid transparent;
	        border-radius: 6px;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        color: #ffffff;
		    background-color: #555555;
		}

        a{
			text-decoration: none;
		}
</style>

<div>
    <button type="hidden" id="flag" value="{{ flag }}"></button>
    <a class="btn_1" href="/Project/admin/skuapp/t_report_sales_daily_byplatform/" id="btc1">平台日销量</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_report_sales_daily_byshopname/" id="btc2">店铺日销量</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_report_sales_daily_byproductid/" id="btc3">产品ID日销量</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_report_sales_daily/" id="btc4">店铺SKU日销量</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_report_sales_daily_bymainsku/" id="btc5">主SKU日销量</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_report_sales_daily_bysku/" id="btc6">SKU日销量</a>
</div>