<html>
<head>
    <meta charset="utf-8">
    <title>日销量趋势图</title>
    <script src="/static/highcharts/jquery-1.8.3.min.js"></script>
    <script src="/static/highcharts/highcharts.js"></script>
    <script src="/static/highcharts/exporting.js"></script>
    <script src="/static/highcharts/highcharts-zh_CN.js"></script>
</head>
<body>
<div id="dailysales" style="width:1600px;margin:0 auto;height:400px"></div>
<br>
{{ rt|safe }}

<script>
$(function () {

	function ss(element,title1,daylist1,saleslist1,sales7ordery1){
	  element.highcharts({
        credits: {
            enabled: false
        },
        chart: {
            type: 'column'
        },
        title: {
            text: title1
        },
        subtitle: {
            text: '趋势图'
        },
        xAxis: {
            categories: daylist1,
            crosshair: true
        },
        yAxis: [{
            min: 0,
            title: {
                text: '日销量(件)'
            }
        },
        {min: 0,
            title: {
            text: '七日平均量(件)',
            style: {color: '#32CD32'}
            },
        opposite: true
        }
        ],
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} (件)</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
            ,
            spline: {
                marker: {
                    enabled: true,//是否显示点
                    radius: 3,//点的半径
                    fillColor: "#00FF00",
                    lineColor: "#32CD32"
                },
            lineWidth:2//线条粗细
            }
        },
        series: [{
            type: 'column',
            name: '日销量',
            data:  saleslist1
        }, {
        type: 'spline',
        name: '七日平均量',
        lineColor: "#32CD32",
        data: sales7ordery1
        }]
    });

}


ss( $('#dailysales'),'{{title}}',{{daylist|safe}},{{saleslist|safe}},{{sales7ordery|safe}})

});
</script>

</body>
</html>
