<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table align="center" width="95%"  border="1">
        <tr align="center">
            <th style="text-align:center">关键词</th>
            <th style="text-align:center">广告组</th>
            <th style="text-align:center">匹配类型</th>
            <th style="text-align:center">建议竞价</th>
            <th style="text-align:center">关键词竞价</th>
            <th style="text-align:center">展现量</th>
            <th style="text-align:center">点击量</th>
            <th style="text-align:center">CTR</th>
            <th style="text-align:center">花费</th>
            <th style="text-align:center">每次点击花费</th>
            <th style="text-align:center">订单量</th>
            <th style="text-align:center">贡献销售</th>
        </tr>

        <!--{% for orders in orders_obj %}-->
        <tr>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
            <td nowrap></td>
        </tr>
        <!--{% endfor %}-->
    </table>


        <!--<div style="float:left;display:inline">-->
            <!--<table width="95%"  border="1">-->
                <!--<tr align="center">-->
                    <!--<th style="text-align:center">关键词</th>-->
                    <!--<th style="text-align:center">广告组</th>-->
                    <!--<th style="text-align:center">匹配类型</th>-->
                    <!--<th style="text-align:center">建议竞价</th>-->
                    <!--<th style="text-align:center">关键词竞价</th>-->
                    <!--<th style="text-align:center">展现量</th>-->
                    <!--<th style="text-align:center">点击量</th>-->
                    <!--<th style="text-align:center">CTR</th>-->
                    <!--<th style="text-align:center">花费</th>-->
                    <!--<th style="text-align:center">每次点击花费</th>-->
                    <!--<th style="text-align:center">订单量</th>-->
                    <!--<th style="text-align:center">贡献销售</th>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->


        <!--<div style="float:center; display:inline">-->
            <!--<table>-->
                <!--<tr align="center">-->
                     <!--<th style="text-align:center">帮助</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td>这里放帮助信息<br>这里放帮助信息<br>这里放帮助信息<br>这里放帮助信息<br>这里放帮助信息<br>这里放帮助信息<br>这里放帮助信息</td>-->
                <!--</tr>-->
            <!--</table>-->
        <!--</div>-->

    <!--&lt;!&ndash;<table align="center" width="95%"  border="1">&ndash;&gt;-->
        <!--<tr>-->
        <!--<td>-->
        <!--<table align="center" width="95%"  border="1">-->
            <!--<tr align="center">-->
                <!--<th style="text-align:center">关键词</th>-->
                <!--<th style="text-align:center">广告组</th>-->
                <!--<th style="text-align:center">匹配类型</th>-->
                <!--<th style="text-align:center">建议竞价</th>-->
                <!--<th style="text-align:center">关键词竞价</th>-->
                <!--<th style="text-align:center">展现量</th>-->
                <!--<th style="text-align:center">点击量</th>-->
                <!--<th style="text-align:center">CTR</th>-->
                <!--<th style="text-align:center">花费</th>-->
                <!--<th style="text-align:center">每次点击花费</th>-->
                <!--<th style="text-align:center">订单量</th>-->
                <!--<th style="text-align:center">贡献销售</th>-->
            <!--</tr>-->

            <!--&lt;!&ndash;{% for orders in orders_obj %}&ndash;&gt;-->
            <!--<tr>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
                <!--<td nowrap></td>-->
            <!--</tr>-->
            <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
            <!--</table>-->
        <!--</td>-->

        <!--<td>-->
            <!--<table width="100%">-->
                <!--<tr align="center">-->
                <!--<th style="text-align:center">帮助</th>-->
            <!--</tr>-->
              <!--<tr>-->
                <!--<td>这里放帮助信息<br>帮助1<br>帮助2<br>3<br>帮助4<br>帮助5<br>帮助6<br>帮助7</td>-->

              <!--</tr>-->
                <!--<tr>-->
                <!--<td>这里放帮助信息<br>帮助1<br>帮助2<br>3<br>帮助4<br>帮助5<br>帮助6<br>帮助7</td>-->
              <!--</tr>-->
            <!--</table>-->
        <!--</td>-->

        <!--</tr>-->
    <!--</table>-->
</body>
</html>