<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="/static/xadmin/vendor/bootstrap/js/bootstrap.js"></script>
<script src="/static/xadmin/layer/layer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/xadmin/vendor/bootstrap/css/bootstrap.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

<style>
.button {
    background-color: #428bca;
}
input {
    width: 500px;
}
option {
    width: 500px;
}
.mybox .bootstrap-select .dropdown-toggle .filter-option {
    position:relative !important;
    left: 0 !important;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: auto;
}
</style>

<script>

    $(document).ready(function () {
        var selected_shop_str = "{{ schedule.shops }}";
        var selected_shop = selected_shop_str.split(',');
        if (selected_shop) {
            $('#shops_info').selectpicker('val',(selected_shop));
        }
    })

    function ityzl_SHOW_LOAD_LAYER(){
        return parent.layer.msg('努力修改中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: '50%', time:100000}) ;
    }
    function ityzl_CLOSE_LOAD_LAYER(index){
        parent.layer.close(index);
    }
    function ityzl_SHOW_TIP_LAYER(){
        parent.layer.msg(' 设置完成！',{time: 2000,offset: '50%'});
    }

    function close_layer_window() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

    function to_submit() {
        var myId = document.getElementById("myId").value;
        var pro_category_id_1 = document.getElementById("pro_category_id_1").value;
        var pro_category_id_2 = document.getElementById("pro_category_id_2").value;
        var site = $('#site option:selected').val();
        var shipping_id = $('#shipping option:selected').val();
        var shops_info = $('.selectpicker').selectpicker('val');

        shops_info = shops_info.join()

        console.log('myId: ' + myId);
        console.log('pro_category_id_1: ' + pro_category_id_1);
        console.log('pro_category_id_2: ' + pro_category_id_2);
        console.log('site: ' + site);
        console.log('shipping_id: ' + shipping_id);
        console.log('shops_info: ' + shops_info);

        $.ajax({
            url:"/modify_ebay_schedule/?myId=" + myId,
            type:"POST",
            contentType:"application/x-www-form-urlencoded:charset=UTF-8",
            datatype:"json",
            data:{
                "myId":myId,"site":site,"shipping_id":shipping_id,
                "pro_category_id_1":pro_category_id_1,"pro_category_id_2":pro_category_id_2,
                'shops_info':shops_info,
            },
            beforeSend: function () {
                i = ityzl_SHOW_LOAD_LAYER();
            },
            success:function(data,textStatus,jqXHR){
                if(data.code==0) {
                    // alert("success!");
                    ityzl_CLOSE_LOAD_LAYER(i);
                    ityzl_SHOW_TIP_LAYER();
                    close_layer_window();
                }
                else if(data.code==1){
                    alert(data.message);
                    ityzl_CLOSE_LOAD_LAYER(i);
                }
                else{
                    alert("服务器内部错误" + data.message);
                    ityzl_CLOSE_LOAD_LAYER(i);
                }
            },
            error:function(){
                alert("请求失败.");
                ityzl_CLOSE_LOAD_LAYER(i);
            }
        });
    }

    function search_category(obj) {
        var upload_id = $('#myId').val()
        search_category_id = obj.id
        var site_id = $('#site option:selected').val();
        var site_name = $("#site").find("option:selected").text();
        var category_level = 1
        console.log(search_category_id);
        console.log(site_id);
        console.log('site_name: '+site_name);
        layer.open(
            {
                type:2,
                skin: 'layui-layer-lan',
                title: site_name+'商品分类查询',
                fix: false,
                shadeClose: true,
                maxmin: true,
                area: ['800px','500px'],
                content: '/ebay_app/search_category/?site_id='+site_id+'&category_level='+category_level+'&search_category_id='+search_category_id+'&upload_id='+upload_id,
                btn: ['关闭页面'],
                end:function() {
                    location.reload();
                }
            }
        );
    }
</script>

<!-- <form class="form-horizontal" id="edit_deliver_goods_info" name="edit_deliver_goods_info" action="" method="">
    {% csrf_token %} -->
    <br>
    <div class="form-group">
        <label class="col-sm-2 control-label">铺货ID</label>
        <div class="col-sm-9">
            <input class="form-control" id="myId" readonly="True" placeholder="铺货ID" value="{{myId}}">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">站点</label>
        <div class="col-sm-9">
            <select class="form-control" id="site">
            {% if schedule.site_id == '' %}
                <option value="" selected="selected"></option>
            {% endif %}
            {% for site in site_info %}
                {% if schedule.site_id and site.siteID == schedule.site_id %}
                    <option value="{{site.siteID}}" selected="selected">{{site.siteName}}</option>
                {% elif schedule.site_id == 0 %}
                    <option value="{{site.siteID}}" selected="selected">{{site.siteName}}</option>
                {% else %}
                    <option value="{{site.siteID}}">{{site.siteName}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">目标店铺</label>
        <div class="col-sm-9 mybox">
            <select class="selectpicker form-control" data-live-search="true" id="shops_info" multiple>
            {% for shop in shop_info %}
                <option value="{{shop.storeName}}">{{shop.storeName}}</option>
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">商品分类ID1</label>
        </div>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" id="pro_category_id_1" placeholder="商品分类ID1" value="{{schedule.Category1_id}}">
                <span class="input-group-addon" id="category_button_1" onclick="search_category(this)">
                    search
                </span>
            </div>
            <div>
                <label style="color: red">{{schedule.Category1_name}}</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">商品分类ID2</label>
        </div>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" id="pro_category_id_2" placeholder="商品分类ID2" value="{{schedule.Category2_id}}">
                <span class="input-group-addon" id="category_button_2" onclick="search_category(this)">
                    search
                </span>
            </div>
            <div>
                <label style="color: red">{{schedule.Category2_name}}</label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <label class="control-label">物流模板</label>
        </div>
        <div class="col-sm-9">
            <select class="form-control" id="shipping">
            <option value="">默认商品原物流信息</option>
            {% for shipping in shipping_info %}
                {% if schedule.ShippingTempID == shipping.id %}
                    <option value="{{shipping.id}}" selected="selected">{{shipping.ShippingTempName}}</option>
                {% else %}
                    <option value="{{shipping.id}}">{{shipping.ShippingTempName}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default button" onclick="to_submit()">确认</button>
        </div>
    </div>
<!-- </form> -->
