<div>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
<p   style="font-size:50px;text-align:center">子SKU信息栏</p>
<div id="div_sku_attr_list">

<table border="1"  id="table_sku_attr_list">
    <tr id ="tr_head_sku_attr_list">
	    
        <td >*</td> 
        <td>不能删除</td>
		
		{% for mainsku_arrt_name in mainsku_arrt_names %} 
			<td><input type="checkbox" name="AttrName[]" >删除</td> 
		{% endfor %}
		
		<td id="iddeleteCheckbox">不能删除</td>
    </tr>
	
    <tr >
	    
		<!--<td><input type="checkbox" name="AttrName[]" >删除</td> 。-->
        <td >字段</td> 
        <td >子SKU编号(不含主SKU)</td>
		
		{% for mainsku_arrt_name in mainsku_arrt_names %} 
			<td><input type="text" name="headname" value={{mainsku_arrt_name.AttrName}}></td> 
		{% endfor %}
		
		<td id="headpic">图片显示栏</td> 
    </tr>
	
	{%  for ikey,ivalue  in attrijs.items  %}
		<tr >
			<td><input type="checkbox" name="RowName"></td>
			<td><input type="text" name="skuname" value="{{ikey}}" /></td>

			{%  for jkey,jvalue  in ivalue.items  %}
				<td><input type="text" name="attrvalue" value="{{jvalue}}" /></td> 
			{% endfor %}
 
			<td class ="xxxxx">
			       {% for sku_pics_key,sku_pics_value in sku_pics.items %}						 
				        {% if sku_pics_key == ikey %}
							{% for picture in sku_pics_value %}
								<img  src="{{ picture }}" width="100" height="100" alt = "{{ picture}}" border="1"  title="{{ picture }}" >
							{% endfor %}
						{% endif %}
					{% endfor %}
					<br>
				    <input  id="input_id_{{forloop.counter0}}" name="file_{{forloop.counter0}}_file" type= "file"  accept="image/gif,image/jpeg,image/png,image/jpg" multiple="multiple"  width="60" height="60"    onchange="setImagePreviews(this);"  >
	 				<div  " style=" width:500px;"> </div>

			<td>
  
			 
			 
		
	 	</tr>
	{% endfor %}

</table>

<input id="btnAddRow" type="button"  value="++行" />
<input id="btnAddCol" type="button"  value="++列" />
<input id= 'bntDelRows' type='button' value='删除选中的行'/>
<input id= 'bntDelCols' type='button' value='删除选中的列'/>


<br/>
</div>
<HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
<br/><br/>
</div>


 