<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <ul id="order_tab" class="nav nav-tabs">
            <li id="fbm_id" {% if active_flag == 'FBM' %} class="active" {% endif %}>
                <a href="{{ now_url }}_p_order_type=FBM">
                    FBM
                </a>
            </li>
            <li id="fba_id" {% if active_flag == 'FBA' %} class="active" {% endif %}>
                <a href="{{ now_url }}_p_order_type=FBA">
                    FBA
                </a>
            </li>
            <li id="follow_id" {% if active_flag == 'FOLLOW' %} class="active" {% endif %}>
                <a href="{{ now_url }}_p_order_type=FOLLOW">
                    跟卖
                </a>
            </li>
        </ul>
    </div>
</body>
</html>