<script src="/static/xadmin/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/Project/admin/jsi18n/"></script>
<script type="text/javascript">



</script>
<form  class="navbar-form navbar-left" action="/t_config_mstsc_searchplugin/">
    <div class="input-group search-group">   
    <input id="searchbar" class="form-control" type="text" name="_ShopName_opeartor_" value="" placeholder="搜索运营人员">
    <span class="input-group-btn"><button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button></span>
    </div>
  <!--   <input type="hidden" name="_colwidths" value="30.0000,67.0000,110.0000,344.0000,81.0000,284.0000,139.0000,99.0000,303.0000,105.0000,319.0000"><input type="hidden" name="_col_widths" value="30.0000,67.0000,110.0000,344.0000,81.0000,284.0000,139.0000,99.0000,303.0000,105.0000,319.0000"><input type="hidden" name="_cols" value="id.PlatformName.ShopName.seller.show_user.DepartmentName.CloudName.show_status.login_DP.kvmName">  -->
</form>
