<script src="/static/xadmin/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/Project/admin/jsi18n/"></script>
<form  style="float:left" action="/t_product_suringPlugin/">
    <div class="input-group search-group">
    <table>
        <tr>
            <td>
        <input style="width: 150px;height: 35px;border-radius:10px;margin: 0 10px 20px "  id="searchbar" class="form-control" type="text" name="_pid_" value="" placeholder="录入反向id">
            </td>
            <td>
         <input style="width: 150px;height: 35px;border-radius:10px;margin: 0 10px 20px;text-align:center;" name="_ptm_" id="searchurl" type="text" placeholder="录入反向url">

         </input>
            </td>
            <td>
          <span  class="input-group-btn"><button style="margin: 0 10px 20px " class="btn btn-primary" type="submit" name="录入"><i>录入</i></button></span>
        </td>
        <tr>
    </table>
    </div>
</form>
