<style>
    #column-0{
        display: none;
    }

</style>
<div class="panel panel-default fieldset unsort no_title" id="box-0">
    <div class="panel-heading">
        <i class="icon fa fa-chevron-up chevron"></i>
        <h3 class="panel-title"></h3>
    </div>
    <div  class="form-inline form-group" >
        <div id="div_id_variation_theme" class="form-group col-sm-12">

            <div class="controls ">
                <label for="id_external_product_id_file" class="control-label ">
                    产品ID
                </label>
                <input class="text-field admintextinputwidget form-control" id="id_external_product_id_file" name="external_product_id_file" type="file">
            </div>
        </div>
    </div>
</div>
{% csrf_token %}