<script src="/static/xadmin/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/Project/admin/jsi18n/"></script>
<form id="id_update_stocking_purchase" style="float:left" action="/t_stocking_purchase_Plugin/?dealpage={{ dealpage }}"  method="POST" enctype="multipart/form-data">
    <div class="input-group search-group">
    <span class="input-group-btn"><button class="btn btn-primary" type="submit" name="刷已入库数据">刷已入库数据</button></span>
    </div>
    {% csrf_token %}
</form>
