<div class="navbar-header">
    <div style="margin-top:10px;">
        <span style="height:40px; color:#c00; font-size:10px">建资料总数({{ t_yearweek_obj.jzl_allcount|default:"-" }})-平均数({{ t_yearweek_obj.jzl_avg|default:"-" }})-建资料人数({{ t_yearweek_obj.jzl_number|default:"-" }})</span>
        <br>
        <span style="height:40px; color:#c00; font-size:10px">调研开发总数({{ t_yearweek_obj.kf_allcount|default:"-" }})-平均数({{ t_yearweek_obj.kf_avg|default:"-" }})-调研开发人数({{ t_yearweek_obj.kf_number|default:"-" }})</span>
    </div>
</div>
