
<style type="text/css">
		.btn_1{
			display: inline-block;
	        padding: 6px 12px;
	        margin-bottom: 0;
	        font-size: 14px;
	        font-weight: normal;
	        line-height: 1.428571429;
	        text-align: center;
	        vertical-align: middle;
	        cursor: pointer;
	        background-image: none;
	        border: 1px solid transparent;
	        border-radius: 6px;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        color: #ffffff;
		    background-color: #3276b1;
		}
</style>

<div align="left">
    <a class="btn_1" href="/Project/admin/skuapp/t_tort_aliexpress/" id="btc1">侵权统计</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_sensitive_sku_info/" id="btc2">敏感SKU录入表</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_sensitive_word_info/" id="btc3">敏感关键词录入表</a>
</div>
<br>
