<style type="text/css">
		.btn_1{
			display: inline-block;
	        padding: 6px 12px;
	        margin-bottom: 0;
	        font-size: 14px;
	        font-weight: normal;
	        line-height: 1.428571429;
	        text-align: center;
	        vertical-align: middle;
	        cursor: pointer;
	        background-image: none;
	        border: 1px solid transparent;
	        border-radius: 6px;
	        -webkit-user-select: none;
	        -moz-user-select: none;
	        color: #ffffff;
		    background-color: #555555;
		}

        a{
			text-decoration: none;
		}
</style>

<div>
    <button type="hidden" id="flag" value="{{ flag }}"></button>
    <a class="btn_1" href="/Project/admin/skuapp/t_templet_public_wish_listing/" id="btc1">Listing</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_templet_wish_collection_box/" id="btc2">采集箱</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_templet_public_wish/" id="btc3">公共模板</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_templet_wish_wait_upload/" id="btc4">定时铺货</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_templet_wish_upload_result/" id="btc5">铺货结果</a>
    <a class="btn_1" href="/Project/admin/skuapp/t_product_image_modify/" id="btc6">图片修改</a>
</div>